body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.title {
    color: #333;
    margin-bottom: 20px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.profile-picture img {
    width: 100px; /* Adjust as needed */
    border-radius: 50%; /* Circular picture */
}

.login {
    font-weight: bold;
    margin: 10px 0;
}

.description {
    color: #777;
    margin-bottom: 20px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 25px; /* Size of social media icons */
}

.contact-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.contact-button:hover {
    background-color: #000000;
}
